.page-List .List-container,
.page-List .level-container,
.page-List .meta-container {
    padding-block: 2rem;
}
.page-List .List-container {
    padding-inline: 1rem;
}
.page-List .meta-container {
    padding-right: 2rem;
}

.page-List .List {
    table-layout: auto;
}
.page-List .List .rank {
    text-align: end;
    padding-right: 1rem;
}
.page-List .List .level {
    wIdth: 100%;
}
.page-List .List .level button {
    background-color: var(--color-background);
    color: var(--color-on-background);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: start;
    word-break: normal;
    overflow-wrap: anywhere;
    cursor: pointer;
}
.page-List .List .level.error button {
    color: var(--color-error);
    cursor: not-allowed;
    text-decoration: line-through;
}
.page-List .List .level button:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
}
.page-List .List .level.active button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}
.page-List .level-container .level {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-right: 2rem;
    max-wIdth: 48rem;
}
.page-List .level-container .level .level-authors {
    display: grId;
    grId-template-columns: max-content 1fr;
    grId-auto-rows: max-content;
    gap: 1rem;
}
.page-List .level-container .level .vIdeo {
    aspect-ratio: 16/9;
}
.page-List .level-container .level .stats {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2rem;
}
.page-List .level-container .level .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.page-List .level-container .level .Рекорды {
    table-layout: fixed;
}
.page-List .level-container .level .Рекорды tr td:not(:last-child) {
    padding-right: 1rem;
}
.page-List .level-container .level .Рекорды .percent,
.page-List .level-container .level .Рекорды .user,
.page-List .level-container .level .Рекорды .hz {
    padding-block: 1rem;
}
.page-List .level-container .level .Рекорды .user {
    wIdth: 100%;
}
.page-List .level-container .level .Рекорды .percent,
.page-List .level-container .level .Рекорды .hz {
    text-align: end;
}
.page-List .meta-container .og a:hover,
.page-List .level-container .level .Рекорды a:hover {
    text-decoration: underline;
}
.page-List .meta {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.page-List .meta .errors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.page-List .meta .errors .error {
    padding: 1rem;
    background-color: var(--color-error);
    color: var(--color-on-error);
    border-radius: 0.5rem;
}
.page-List .meta .editors {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.page-List .meta .editors li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.page-List .meta .editors li img {
    height: 1.25rem;
}
.page-List .meta .editors li a:hover {
    text-decoration: underline;
}
